<h1>New Doctor</h1>
<%= show_errors_for(@doctor) %>
<%= form_for @doctor do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :phone_number %>
    <%= f.text_field :phone_number %>
  </p>
  <p>
    <%= f.label :specializations %>
    <%= f.text_area :specializations %>
  </p>
  <%= f.submit %>
<% end %>